// Body
$body-bg: hsl(0, 0%, 100%);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@layer base {
    :root {
      --color-primary: #0048EA;
      --color-secondary: #E6E6E6;
      --color-tertiary: #00E28B;
      --color-quaternary: #E761FF;
    }
  }