// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'slick-carousel/slick/slick.scss';
@import 'slick-carousel/slick/slick-theme.scss';

// Variables
@import './variables.scss';

// @import "singular/singular.scss";

@import './partials/fonts.scss';
@import './partials/header.scss';
@import './partials/reset.scss';

// Components
/// Input 
.primary-button {
    width: calc(100% - 10px);
    transition: all 0.3s ease;
    &:hover {
        background-color: black;
        color: white;
        box-shadow: 10px 10px 0px 0px white;
    }
}

// Pages
#login-page, #forgot-password-page {
    @media (min-width: 768px) {
        height: 90svh;
    }
}
#register-page {
    @media (min-width: 1868px) {
        height: 90svh;
    }
}

#login-page, #register-page, #forgot-password-page {
    .login-container, .register-container {
        width: calc(100% - 20px);
        @media (min-width: 768px) {
            width: 90%;
        }
        @media (min-width: 1024px) {
            width: 80%;
        }
        @media (min-width: 1280px) {
            width: 65%;
        }
        @media (min-width: 2000px) {
            width: 55%;
        }
    }
}

#services-page {
    .service-list {
        .slick-dots {
            position: relative;
            button {
                &::before {
                    font-size: 10px;
                }
            }
        }
    }
}
