// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;


// Variables
@import 'variables';

@import './singular/singular.scss';



// Flash message
.flash-messages {
    position: fixed;
    z-index: 20;
    right: 0;
    left: 0;

    .alert {
        transform: translateY(30px);
        transition: ease 1s;
        .btn-close {
            svg {
                width: 10px;
                height: 10px;
            }
        }
    }
}